*
!.gitignore
!README.txt

# hellgift.online: trzymamy w repo wbudowanego bota (game_bot) i dolaczone mody,
# zeby trafily na GitHub i do kompilacji w Actions.
!/game_bot/
!/game_bot/**
!/game_buttons/
!/game_buttons/**
!/game_itemselector/
!/game_itemselector/**
!/client_mods/
!/client_mods/**
!/client_profiles/
!/client_profiles/**
!/client_textedit/
!/client_textedit/**
